@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4
  }

  button {
    @apply text-white border bg-indigo-600 border-indigo-600
    hover:bg-transparent hover:text-indigo-600 rounded-md
  }
  
  /* *,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 3vmin;
}

html {
  background: #151515;
  color: #fff;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .slides {
  display: grid;
}
.slide {
  grid-area: 1 / -1;
}
.arrow {
  
  appearance: none;
  background: transparent;
  border: none; */
  /* color: black;
  position: absolute;

  font-size: 5rem;
  width: 5%;
  height: 5px;
  top: 30%;
  transition: opacity 0.3s; */

  /* z-index: 5;
}
.arrow:hover {
  opacity: 1;
}
.arrow:focus {
  outline: none;
}
.arrow:first-child {
  left: -50%;
}
.arrow:last-child {
  right: -50%;
}
.slideContent {
  width: 40vw;
  height: 30vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;

  display: grid;
  align-content: center;

  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-45deg * var(--dir)));
} */
/* .slideContentInner {
  transform-style: preserve-3d;
  transform: translateZ(2rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;
}
.slideSubtitle,
  .slideTitle {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 0;
  } */

  /* .slideSubtitle::before {
    content: "— ";
  } */

  /* .slideDescription {
    margin: 0;
    font-size: 0.8rem;
    letter-spacing: 0.2ch;
  } */
  /* .slideBackground {
    position: fixed;
    top: 0;
    left: -10%;
    right: -10%;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s linear, transform 0.3s ease-in-out;
    pointer-events: none;
  
    transform: translateX(calc(10% * var(--dir)));
  } */
  /* .slide[data-active] {
    z-index: 2;
    pointer-events: auto;
  }  
  
  .slideBackground {
    opacity: 0.2;
    transform: none;
  }

  .slideContentInner {
    opacity: 1;
  }
  .slideContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;

    transform: perspective(1000px);

   
  
}
.slideContent:hover {
  transition: none;
  transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
    rotateX(calc(var(--y) * -45deg));
} */
/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

}